Body {
 Background-color : red;
}

.Work Experience {
    background-color: tomato;
    color: white;
    text-align:center
    padding: 10px;
  } 

H1 p{
 Text-align: center; 
}


Html{
 Color : blue;
}